/*set default style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #343a40;
}

a {
  color: #343a40;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:visited {
  color: #343a40;
}

a:hover {
  color: #65a7d7;
}

.wrapper {
  max-width: 1280px;
  margin: 0px auto;
}

.logo {
  margin: 0 0 0 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header {
  background-color: white;
}

.header__content {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.header__nav-items {
  font-size: 24px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-items li {
  margin: 0 15px 0 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.signup {
  background: no-repeat url("../img/first.png");
  background-position: center 100px;
  background-color: #65a7d7;
  color: white;
  -webkit-box-shadow: inset 0px 1px 15px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0px 1px 15px rgba(0, 0, 0, 0.4);
}

.signup__content {
  padding: 20px;
}

.signup__title {
  margin: 240px 0 0 0;
  line-height: 60px;
  font-size: 42px;
}

.signup__desc {
  margin: 40px 0 0 0;
  font-size: 24px;
}

.signup__free {
  margin: 0 0 230px 0;
}

.signup__free span {
  background-color: #ffce54;
  padding: 4px 8px;
  border-radius: 5px;
}

.signup__free p {
  margin: 70px 0 25px 0;
  font-size: 18px;
  font-weight: bold;
}

.signup__input {
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
}

.signup__button {
  margin: 0 0 0 25px;
  padding: 8px;
  font-size: 18px;
  font-weight: bold;
  background-color: #77c344;
  color: white;
  border-radius: 5px;
  border: 2px solid #77c344;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.signup__button:hover {
  border: 2px solid #77c344;
  background-color: white;
  padding: 8px;
  color: #77c344;
}

.networks {
  background-color: #f8f8f8;
}

.networks__links {
  height: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__title {
  margin: 100px 0;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

.why__causes {
  background: url("../img/macbook.jpg") no-repeat;
  background-position: 600px center;
  padding-bottom: 150px;
  display: -ms-grid;
  display: grid;
}

.why__item-tamplate {
  width: 600px;
}

.why__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__item-title p {
  font-size: 26px;
  margin: 35px;
}

.why__item-content {
  padding: 5px;
  font-size: 16px;
}

.diffrents {
  background-color: #f8f8f8;
  padding-bottom: 100px;
}

.diffrents__title {
  padding: 100px 0 100px 0;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
}

.diffrents__reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.diffrents__reason p {
  font-size: 26px;
  margin: 35px;
}

.diffrents__desc {
  text-align: center;
  margin: 0 25%;
  width: 50%;
  font-size: 20px;
}

.services {
  background-color: white;
  padding-bottom: 100px;
}

.services__title {
  padding: 100px 0 100px 0;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

.services__desc {
  margin: 30px 0;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.services__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__input {
  width: 500px;
  padding: 20px;
  font-size: 20px;
  border: 2px solid #343a40;
  border-radius: 5px;
}

.services__button {
  background-color: #77c344;
  color: white;
  border: 3px solid #77c344;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 40px;
  margin: 0 0 0 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services__button:hover {
  color: #77c344;
  background-color: white;
  border: 3px solid #77c344;
  padding: 20px 40px;
}

.footer {
  background-color: #f8f8f8;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}

.footer__nav-items li {
  margin: 0 15px 0 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
