@import "_nullstyle.scss";
//margin/padding: top right bottom left
body {
    font-family: "Montserrat", sans-serif;
    color: #343a40;
}

a {
    color: #343a40;
    transition: 0.3s;
}
a:visited {
    color: #343a40;
}
a:hover {
    color: rgb(101, 167, 215);
}

.wrapper {
    max-width: 1280px;
    margin: 0px auto;
}

.logo {
    margin: 0 0 0 20px;
    align-self: center;
}

.header {
    background-color: white;

    &__content {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-self: center;
    }

    &__nav-items {
        font-size: 24px;
        height: 100%;
        display: flex;
    }

    &__nav-items li {
        margin: 0 15px 0 15px;
        align-self: center;
    }
}

.signup {
    background: no-repeat url("../img/first.png");
    background-position: center 100px;
    background-color: rgb(101, 167, 215);
    color: white;

    box-shadow: inset 0px 1px 15px rgba(0, 0, 0, 0.4);

    &__content {
        padding: 20px;
    }

    &__title {
        margin: 240px 0 0 0;
        line-height: 60px;
        font-size: 42px;
    }
    &__desc {
        margin: 40px 0 0 0;
        font-size: 24px;
    }
    &__free {
        margin: 0 0 230px 0;

        span {
            background-color: #ffce54;
            padding: 4px 8px;
            border-radius: 5px;
        }

        p {
            margin: 70px 0 25px 0;
            font-size: 18px;
            font-weight: bold;
        }
    }

    &__input {
        border-radius: 5px;
        font-size: 18px;
        padding: 10px;
    }
    &__button {
        margin: 0 0 0 25px;
        padding: 8px;
        font-size: 18px;
        font-weight: bold;
        background-color: #77c344;
        color: white;
        border-radius: 5px;

        border: 2px solid #77c344;
        transition: 0.5s;
    }
    &__button:hover {
        border: 2px solid #77c344;
        background-color: white;
        padding: 8px;
        color: #77c344;
    }
}

.networks {
    background-color: rgb(248, 248, 248);

    &__links {
        height: 100px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
    }
}

.why {
    &__title {
        margin: 100px 0;
        font-size: 42px;
        font-weight: bold;
        text-align: center;
    }

    &__causes {
        background: url("../img/macbook.jpg") no-repeat;
        background-position: 600px center;
        padding-bottom: 150px;
        display: grid;
    }

    &__item-tamplate {
        width: 600px;
    }
    &__item-title {
        display: flex;
        align-items: center;

        p {
            font-size: 26px;
            margin: 35px;
        }
    }
    &__item-content {
        padding: 5px;
        font-size: 16px;
    }
}

.diffrents {
    background-color: rgb(248, 248, 248);
    padding-bottom: 100px;
    &__title {
        padding: 100px 0 100px 0;
        text-align: center;
        font-size: 42px;
        font-weight: bold;
    }
    &__reason {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 26px;
            margin: 35px;
        }
    }

    &__desc {
        text-align: center;
        margin: 0 25%;
        width: 50%;
        font-size: 20px;
    }
}

.services {
    background-color: white;
    padding-bottom: 100px;

    &__title {
        padding: 100px 0 100px 0;
        font-size: 42px;
        font-weight: bold;
        text-align: center;
    }

    &__desc {
        margin: 30px 0;
        font-size: 20px;
        font-style: italic;
        text-align: center;
    }

    &__contact {
        display: flex;
        justify-content: center;
    }

    &__input {
        width: 500px;
        padding: 20px;
        font-size: 20px;
        border: 2px solid #343a40;
        border-radius: 5px;
    }
    &__button {
        background-color: #77c344;
        color: white;
        border: 3px solid #77c344;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bold;
        padding: 20px 40px;
        margin: 0 0 0 30px;
        transition: 0.5s;
    }

    &__button:hover {
        color: #77c344;
        background-color: white;
        border: 3px solid #77c344;
        padding: 20px 40px;
    }
}

.footer {
    background-color: rgb(248, 248, 248);

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
    }

    &__nav-items {
        display: flex;
        font-size: 18px;
    }

    &__nav-items li {
        margin: 0 15px 0 15px;
        align-self: center;
    }
}

//TODO: burger-menu
@media screen and (max-width: 900px) {
    //TODO: resize for mobile
    //1024, 760, 480, 360
}
